{% extends "homepage.html" %}

{% block titulo %}
    Calculadora de investimentos
{% endblock %}

{% block style %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center; /* Centraliza o conteúdo na página */
            background-color: #0d2230;
            color: #ffffff; /* Cor branca */
        }

        .container {
            text-align: center; /* Alinha o texto no centro horizontal */
        }

        p {
            font-size: 2em; /* Tamanho do texto maior */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <p>{{ resultado }}</p>
    </div>
{% endblock %}
